*,
*:before,
*:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100vw;
}
.container {
    display: flex;
    margin: 3em auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
}
.heading {
    font-size: 40px;
}
form {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}
.water {
    background: url(https://hbr.org/resources/images/article_assets/2004/10/SEPT15_03_535621603.jpg) repeat-x; 
    animation: animate 15s linear infinite;
}
.land {
    background: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Mountains-1412683.svg);
    animation: animate 25s linear infinite;
}
h2 {
    font-size: 100px;
}
@keyframes animate {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.water h2 {
  color: #006699;
  animation: stretch-water 1.5s ease-out alternate infinite;
}

@keyframes stretch-water {
  0% {
    transform: scale(.3);
    color: #006666;

  }
  50% {
    color: #0066cc;
  }
  100% {
    transform: scale(1.5);
    color: #0000ff;
  }
}
.land h2 {
  color: #006600;
  animation: stretch-land 1.5s ease-out alternate infinite;
}

@keyframes stretch-land {
  0% {
    transform: scale(.3);
    color: #006600;

  }
  50% {
    color: #666633;
  }
  100% {
    transform: scale(1.5);
    color: #663300;
  }
}
